{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/recommended"],
  "parserOptions": { "ecmaVersion": 2018, "sourceType": "module" },
  "rules": {
    "no-console": "warn",
    "no-empty-function": "off",
    "@typescript-eslint/no-this-alias": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-empty-function": [
      "error",
      { "allow": ["private-constructors"] }
    ],
    "object-property-newline": [
      "error",
      { "allowAllPropertiesOnSameLine": false }
    ]
  }
}
