{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/recommended"],
  "parserOptions": { "ecmaVersion": 2018, "sourceType": "module" },
  "rules": {
    "no-console": "warn",
    "no-non-null-assertion": "off",
    "eslint/no-empty-function": { "allow": ["private-constructors"] },
    "object-property-newline": [
      "error",
      { "allowAllPropertiesOnSameLine": false }
    ]
  }
}
